PlacesTest/PlacesTest.Android/obj/
PlacesTest/PlacesTest/obj/
PlacesTest/PlacesTest.iOS/obj/PlacesTest.iOS.csproj.nuget.cache
PlacesTest/PlacesTest.iOS/obj/
PlacesTest/PlacesTest.Android/bin/
PlacesTest/PlacesTest/bin/Debug/netstandard2.0/PlacesTest.deps.json
PlacesTest/PlacesTest/bin/
